<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
    <welcome-file>/Home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Doodle</servlet-name>
    <servlet-class>DoodleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doodle</servlet-name>
    <url-pattern>/Doodle/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDoodleController</servlet-name>
    <servlet-class>UserDoodleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDoodleController</servlet-name>
    <url-pattern>/reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ListDoodleController</servlet-name>
    <servlet-class>ListDoodleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDoodleController</servlet-name>
    <url-pattern>/list-doodles</url-pattern>
  </servlet-mapping>
</web-app>